*,
*::after,
*::before{
  box-sizing: border-box;
}
a{
  color: inherit;
}
body{
  color: #000;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
  background-image: url(../images/header-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.header__top{
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
line-height: 28px;
}
.menu__list-item{
  display: inline-block;
}
.menu__list-item + .menu__list-item{
  margin-left: 52px;
}